/* Write your CSS here */

.todo-card {
  font-family: roboto;
  list-style-type: none;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-title {
  color: #000000;
  font-size: 18px;
  font-weight: bolder;
  padding-right: 5px;
}

.btn {
  border-radius: 5px;
  color: #ff0b37;
  border: 1px solid #ff0b37;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bolder;
  width: 100px;
  padding: 5px;
  margin: 0px;
  outline: none;
  cursor: pointer;
}
